/* home.css */
.video-a {
  position: relative;
  text-align: center;
}

.video-a video {
  width: 100%;
}

.centered-text {
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-logos {
  width:80px;
  margin: 40px;
  display: flex;
  justify-content: center;
}

.register-button1 {
  display: block;
  margin: 20px auto;
  
}

.content-box {
  width: 80%;
  margin: 60px auto;
}

.content {
  display: flex;
}

.left-content,
.right-content {
  flex: 1;
}

.right-content {
  text-align: center;
}

.image-row {
  display: flex;
  width:80%;
  height: auto;
  margin-left: 10px;
}

.image-row img {
  max-width: 100%;
  height: auto;
}



@media (max-width: 767px) {
  .image-row {
    flex-wrap: wrap;
  }
  
  .image-row img {
    width: 60%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .image-row img {
    width: 15%; 
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@media (min-width: 1024px) {
  .image-row img {
    width: 30%; 
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1500px) {
  .image-row img {
    width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}


.card-one {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}




.card {
  width: 270px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

.card img {
  width: 60%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 10px;
}


.slideshow {
  width: 40%; 
  height: 40%; 
  margin: 0 auto; 
  overflow: hidden; 
}

.slides {
  display: flex; 
  transition: transform 0.5s ease; 
}

.slides img {
  width: 100%; 
  height: auto; 
}


.content-box {
  width: 80%;
  margin: 0 auto;
}

.content {
  display: flex;
}

.left-content,
.right-content {
  flex: 1;
}

.right-content {
  text-align: center;
}

.decoration-line {
  height: 100px; 
  width: 2px;
  background-color: black;
  margin: 0 auto;
}


.customer-ratings {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rating-card {
  width: 18%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 1000px) {
  .customer-ratings {
    display: none;
   
  }
  
}
@media (max-width: 1000px) {
  .card-one {
    display: grid;
   
    justify-content: space-around;
    margin-top: 20px;
  }
.card{
  margin-bottom: 50px;
}
}

.stars {
  color: gold;
  font-size: 20px;
}

.star {
  margin-right: 2px;
}

.customer-image {
  width: 50%;
  height:50%;
  border-radius: 50%;
  margin-top: 10px;
}

.comment {
  margin-top: 10px;
}

@media (max-width: 800px) {
  .BarsDataset {
    display: none;
   
  }
  
  
}