.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container {
    display: flex;
  }
  
  .left {
    flex: 1;
    padding: 20px;
  }
  
  .right {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right img {
    max-width: 100%;
    height: auto;
  }
  