/* AdminPanel.css */
.admin-panel {
    display: flex;
    justify-content: space-between;
    height: 900px;
}

.left-panel {
    width: 300px;
    height: 900px;
    background-color: #f0f0f0;
    padding: 20px;
}

.left-panel button {
    display: block;
    margin-top: 60px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
   
    cursor: pointer;
}

.right-panel {
    flex: 1;
    padding: 20px;
}

.details {
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 20px;
}

.logo12 img {
    
    max-width: 600px;
    max-height: 500px;
}
.details {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .details h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
  }
  
  .details .info {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
  }
  
  .details .info p {
    font-size: 1.1em;
    color: #666;
    margin: 10px 0;
  }
  
  .details .info p strong {
    color: #333;
  }
  